extends /layout

block content
  .row
    .col-xs-12
      .page-header
        h1 Your Account
    .col-xs-12
      form(method='POST')
        .row
          .form-group.col-xs-12.col-sm-6
            label(for='firstName') First Name
            input.form-control(type='text', name='firstName', placeholder=user.name.first)
          .form-group.col-xs-12.col-sm-6
            label(for='lastName') Last Name
            input.form-control(type='text', name='lastName', placeholder=user.name.last)
          .form-group.col-xs-12.col-sm-6
            label(for='nickname') Nickname
            input.form-control(type='text', name='nickname', placeholder=user.name.nickname)
        .row
          .form-group.col-xs-12
            hr
            label(for='bio') Bio
            textarea.form-control(placeholder=(user.bio ? user.bio : "You haven't set a bio yet!" ))= (user.bio ? user.bio : '')
        .row
          hr
          a.btn.btn-default(href='#') View Public Profile
          button.btn.btn-primary(type='submit') Save Account Info
          