.add-assignment-form input {
    width: 60%;
}

.add-assignment-form select {
    width: 30%;
}

.add-assignment-form button {
    width: 10%;
}

.assignment.completed span {
    text-decoration: line-through;
    color: #999999;
}