#date {
    margin-top: 5px;
}

.date-header {
    margin-top: 0;
}

.add-assignment-form input {
    width: 60%;
}

.add-assignment-form select {
    width: 30%;
}

.add-assignment-form button {
    width: 10%;
}

.assignment-progress-container {
    margin: 0;
}

.assignment.completed span {
    text-decoration: line-through;
    color: #999999;
}

.assignment-progress-bar.low {
    background-color: red;
}

.assignment-progress-bar.full {
    background-color: green;
}

.assignment .remove-assignment {
    cursor: pointer;
}

.assignment .remove-assignment.mobile {
    float: right;
}


.black-bar .statistics {
    font-weight: bold;
    padding-top: 10px;
    color: white;
}

.goto-date {
    width: 90px;
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}