.add-assignment-form input {
    width: 60%;
}

.add-assignment-form select {
    width: 30%;
}

.add-assignment-form button {
    width: 10%;
}

.assignment-progress-container {
    margin: 0;
}

.assignment.completed span {
    text-decoration: line-through;
    color: #999999;
}

.assignment-progress-bar.low {
    background-color: red;
}

.assignment-progress-bar.full {
    background-color: green;
}

.assignment .remove-assignment {
    cursor: pointer;
}

.black-bar .statistics {
    font-weight: bold;
    padding-top: 10px;
    color: white;
}