body {
  padding-top: 70px; /* Since the top navbar is fixed */
  padding-bottom: 20px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.larger {
  font-size: 120%;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0;
}