body {
  padding-top: 70px; /* Since the top navbar is fixed */
  padding-bottom: 20px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.larger {
  font-size: 120%;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

@media only screen and (max-width : 768px) {
  .center-sm {
    text-align: center !important;
  }

  .full-width-sm {
      width: 100% !important;
  }
}


.jumbotron {
  margin-bottom: 0;
}

.black-bar {
  background-color: #222;
  text-align: center;
}

