doctype html
html
  head
    if defaultTitle !== pageTitle
      title #{pageTitle} | #{defaultTitle}
    else
      title= defaultTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      include /includes/header

    main
      block content
    
    footer
      include /includes/footer