extends /layout

block content
  
  .row
    .page-header
      h1 Terms of Service
    .col-xs-12
      include /includes/tos

  a(id='login', style='display: none', href='/auth/google') Login with Google



  script.
    $('#accept-terms').click(function(event) {
      if(confirm('Are you sure you understand the Terms of Service? Basically, you are responsible for how you use it.')) {
        window.location.href = '/auth/google';
      }
    });