extends /layout

block content
    .row
        .col-xs-12
            .page-header.center-sm
                h1(id='date', data-date=date.format('YYYY-MM-DD'))= date.format('dddd, MMMM Do, YYYY')
    .row
        .col-xs-12
            .btn-group.right
                button.btn.btn-default.active(id='list-view') List View
                button.btn.btn-default(id='planner-view') Planner View
            .btn-group
                a.btn.btn-default(title=previousDay.format('dddd, MMM Do'), href='/assignments/' + previousDay.format('YYYY-MM-DD'), id='goto-previous-day') Previous Day
                a.btn.btn-default(title=nextDay.format('dddd, MMM Do'), href='/assignments/' + nextDay.format('YYYY-MM-DD'), id='goto-next-day') Next Day
                if !isToday
                    a.btn.btn-default(href='/assignments/today', id='goto-today') Today
    .row
        .col-xs-12
            .form-inline.add-assignment-form.full-width
                .form-group.full-width
                    input.form-control.full-width-sm(id='new-assignment-description', type='text', name='description', placeholder='New Assignment', required)
                    select.form-control(name='course-name', id='new-assignment-course-name',)
                        each c in user.courses
                            option(value=c.title)= c.shortTitle
                        option(value='Other') Other    
                    button.btn.btn-primary.full-width-sm.add-assignment(type='button') Add
    .row
        hr
        h3.text-center.text-muted.assignments-status Loading assignments...
        .assignments-container
    .row
        button.btn.btn-default.refresh-assignments Reload   
            i.fa.fa-refresh