extends /layout

block content

    .jumbotron.no-margin
        h1.no-margin= pageTitle
        br
        #stats.larger
            b This year's stats:
            span(data-toggle='tooltip', title='Hooray!')  0 homework assignments, 
            span(data-toggle='tooltip', title='Hooray!') 0 tests, 
            span(data-toggle='tooltip', title='Hooray!') 0 quizzes, 
            span(data-toggle='tooltip', title='Hooray!') 0 projects
    .row
        .col-xs-12
            .black-bar
                a.btn.btn-default(href='/work/today') View Today's Work
                a.btn.btn-default(href='/work/closest') View Next Work
        .col-xs-12
            .calendar
