extends /layout

block content

    .jumbotron.no-margin
        h1.no-margin= pageTitle
        br
        #stats.larger
            b This year's stats:
            span(data-toggle='tooltip', title='Hooray!')  0 homework assignments, 
            span(data-toggle='tooltip', title='Hooray!') 0 tests, 
            span(data-toggle='tooltip', title='Hooray!') 0 quizzes, 
            span(data-toggle='tooltip', title='Hooray!') 0 projects
    .row
        .col-xs-12
            .black-bar
                a.btn.btn-default(href='/work/today') View Today's Work
                a.btn.btn-default(href='/work/closest') View Next Work
        
    br
    .row
        .col-xs-12.col-md-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Add Test
                .panel-body
                    .form(action='/api/', method='POST')
        .col-xs-12.col-md-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Add Test
                .panel-body hi

    hr
    .row
        .col-xs-12
            .calendar
